:root {
  /* Шрифти */
  --main-fonts: 'DM Sans', sans-serif;
  --secondary-fonts: 'Titan One', cursive;

  /* Кольори фону */
  --bg-color-light-pink: #fff5f6;
  --bg-color-pink: #ffb8ca;
  --bg-color-coffee: #f0d1a5;
  --bg-color-green: #c2e297;
  --bg-color-light-grey: #fafafa;
  --bg-color-menu: #e17992;

  /* Кольори шрифтів */
  --text-color-light: #ffffff;
  --text-color-light-pink: #ffa5ba;
  --text-color-black: #000000;
  --text-color-grey: #907e82;

  /* Інші кольори */
  --accent-color: #d41443;
  --line-color-grey: #e1e1e1;
  --line-color-pink: #e18298;
  --icon-color: #fea5bb;
}
