<div class="about">
  <div class="container about__container">
    <p class="label about__label">tradition and love</p>
    <h2 class="title about__title">how it’s made?</h2>
    <img class="about__img" src="./images/about/about-img_sm.png" alt="milk in a jug" />
    <div class="about__wrapper">
      <p class="about__f-descrption">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__s-descrption">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="button about__button" type="button">
        <span class="about__text-btn">Read more</span>
      </button>
    </div>
    <ul class="list about__list">
      <li class="about__item">
        <p class="about__data">721</p>
        <p class="about__data-descr">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="about__item">
        <p class="about__data">16kg</p>
        <p class="about__data-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about__item">
        <p class="about__data">84</p>
        <p class="about__data-descr">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</div>
